.link-style {
  a {
    padding: 0.4rem;
    @include transition(1s);

    &:hover {
      color: $secondary-color;
    }
  }
}

footer.horizontal {
  // border: 2px solid red;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem;
  @extend .link-style;
}

footer.vertical {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 2rem;
  margin-bottom: 1rem;
  .social--icons {
    display: flex;
    flex-direction: column;
    position: fixed;
    @extend .link-style;
  }
  .copyright {
    position: fixed;
    bottom: 1rem;
    right: 3rem;
    writing-mode: vertical-rl;
    text-orientation: mixed;
  }
}
