.nav {
  border: 2px solid red;
  padding: 1rem;
  height: 10vh;
  &__list {
    text-align: right;
  }
  &__item {
    display: inline;
    padding: 1rem;
  }
  &__link {
    &--active {
      color: $secondary-color;
    }
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    &:hover {
      color: blue;
    }
  }
}
